.v-tool {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 5px solid #f0f0f0;
    border-bottom: 5px solid #f0f0f0;
}

.v-tool-item {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 8pt;
    font-weight: bold;
    flex-grow: 1;
}

.i-tool-item {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}